* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #111;

    min-height: 100vh;
}

.gallery {
    width: 100%;
    height: 100vh;

    position: absolute;
    overflow: hidden;
}

.cards {
    display: flex;
    flex-direction: column;
}

.cards li {
    list-style: none;
    
}

